.container {
  height: 50px;
  border-radius: 8px;
  padding: 0 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 18.75px;

  font-weight: 500;

  color: #fefefe;
  background-color: #835afd;

  border: none;
  cursor: pointer;

  transition: filter 300ms;

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.icon {
  margin-right: 8px;
}
