.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + div {
    margin-top: 8px;
  }

  > p {
    color: #29292e;
  }
  > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;

    .user_info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div.buttons {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      gap: 8px;
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;

      display: flex;
      align-items: flex-end;

      &.like-button {
        display: flex;
        align-items: flex-end;

        gap: 8px;

        color: #737380;

        transition: filter 0.2s;

        &.liked {
          color: #835afd !important;
        }

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}
