.header {
  padding: 24px;
  border-bottom: 1px solid #e2e2e2;

  > div {
    max-width: 1120px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > svg {
      cursor: pointer;
    }

    > div {
      display: flex;

      button {
        height: 40px;
      }

      button + button {
        margin-left: 16px
      }
    }
  }
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;

  form {
    textarea {
      width: 100%;
      padding: 16px;

      background-color: #fefefe;

      border-radius: 8px;
      border: 1px solid #835afd00;

      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
      resize: vertical;

      transition-property: box-shadow, border-color;
      transition-duration: 400ms;

      min-height: 130px;

      &:hover {
        outline: 0;
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
      }

      &:focus {
        outline: 0;
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
        border-color: #835afd;
      }
    }
  }
}

.form_footer {
  display: flex;
  align-items: center;

  justify-content: space-between;

  margin-top: 16px;

  > div {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    span {
      margin-left: 8px;
      color: #29292e;
      font-weight: 500;
      font-size: 14px;
    }
  }

  > span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;

    color: #737380;

    > button {
      font-weight: 500;
      display: inline;
      border: 0;
      background: none;

      cursor: pointer;

      text-decoration-line: underline;
      color: #835afd;
    }
  }
}

.room-title {
  margin: 32px 0 24px;

  display: flex;
  align-items: center;
  flex-direction: row;

  > h1 {
    font-family: Poppins, sans-serif;

    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #29292e;
  }

  > span {
    margin-left: 16px;
    background-color: #e559f9;

    padding: 8px 16px;

    border-radius: 50px;

    color: #fff;

    font-weight: 500;

    font-size: 14px;
  }
}

.noQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  svg {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 8px;

    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;

    color: #29292e;
    font-weight: 600;
  }

  p {
    max-width: 300px;

    font-size: 14px;
    line-height: 21px;
    color: #737380;
  }
}

.questions {
  margin-top: 32px;
  padding-bottom: 32px;
}
